.titleString {
  padding-top: 20px;
  margin: 0;
  font-size: xx-large;
  font-weight: bold;
  color: darkblue;
  text-align: center;
}

.titleTeamName {
  width: 100%;
  color: white;
  background: darkblue;
  padding: 5px 0;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}